<section id="banner">
    <div class="overly">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="banner_text text-center">
                        <h3>A simple website for your showcase</h3>
                        <p>Send a GraphQL image from your device and get exactly what you need, nothing more and nothing less.</p>
                        <div class="couple_button m-auto">
                            <a href="/upload">start upload</a>
                            <a href="/about" class="ms-2">See developer profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <form action="/users" method="POST">
    <input type="text" name="name" placeholder="enter your name">
    <input type="number" name="age" placeholder="enter your age">
    <button type="submit">save user</button>

    <input type="file" name="files">
</form> -->
